
Projectile-Motion-Simulator/Projectile-Motion-Simulator.pro.user
build-Projectile-Motion-Simulator-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
build-Projectile-Motion-Simulator-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
*.o
*.exe
build-Projectile-Motion-Simulator-Qt_6_2_1_for_macOS-Debug/
build-Projectile-Motion-Simulator-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
build-Projectile-Motion-Simulator-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
build-Projectile-Motion-Simulator-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
build-Projectile-Motion-Simulator-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-Projectile-Motion-Simulator-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_predefs.h
build-Projectile-Motion-Simulator-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/ui_mainwindow.h
build-Projectile-Motion-Simulator-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_projectileengine.cpp
Projectile-Motion-Simulator/Projectile-Motion-Simulator.pro
Projectile-Motion-Simulator/Projectile-Motion-Simulator.pro

build-Projectile-Motion-Simulator-Qt_6_2_1_for_macOS-Debug
build-Projectile-Motion-Simulator-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_worldstate.cpp
build-Projectile-Motion-Simulator-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/object_script.Projectile-Motion-Simulator.Debug
build-Projectile-Motion-Simulator-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/object_script.Projectile-Motion-Simulator.Release
Projectile-Motion-Simulator/Projectile-Motion-Simulator.pro
build-Projectile-Motion-Simulator-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_informationdialog.cpp
build-Projectile-Motion-Simulator-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_startupmenu.cpp
Projectile-Motion-Simulator/Projectile-Motion-Simulator.pro
build-Projectile-Motion-Simulator-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_question.cpp
build-Projectile-Motion-Simulator-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_questionhandler.cpp

build-Projectile-Motion-Simulator-Desktop_Qt_6_2_0_MinGW_64_bit-Debug